/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
  height: 100%;
  background:
    linear-gradient(135deg, #815B5B 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #815B5B 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #815B5B 25%, transparent 25%),
    linear-gradient(45deg, #815B5B 25%, transparent 25%),
    linear-gradient(to bottom, #9E7676 0%, #9E7676 100%);
  background-size:
    100px 100px,
    100px 100px,
    100px 100px,
    100px 100px,
    100% 100%;
  background-color: #1d4ed8;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at 0% 0%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 100% 0%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 0% 100%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 50%
    );
  background-size: 50% 50%;
  background-position:
    0 0,
    100% 0,
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
